* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body {
    background: #05abe0;
    height: 100vh;
    font-family: sans-serif;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 1em;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1em;
}

p, button, input {
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    cursor: pointer;
    border: none;
    color: darkblue;
}

img {
    display: block;
    width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

header {
    display: flex;
    flex-direction: column;
}

#search {
    display: flex;
    justify-content: center;
}

#inputSearch {
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 0.25em;
}

#inputSearch:focus {
    outline: none;
}

#searchBtn {
    border-radius: 0 8px 8px 0;
    width: 20%;
    max-width: 100px;
    background: whitesmoke;
}

#searchBtn:hover, .citySearched:hover {
    opacity: 0.8;
    color: blue;
}

main {
    display: flex;
    gap: 2rem;
}

#searchHistory {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 200px;
}

.citySearched {
    margin-bottom: 0.75em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#weather {
    width: 75%;
}

#currentWeather {
    border-bottom: 2px solid skyblue;
    margin-bottom: 2rem;
}

#forecast {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: 200px;
}

.card-header {
    display: flex;
    align-items: center;
}

.temperature {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 0;
}

sup {
    vertical-align: super;
    font-size: 2.5rem;
}

.humidity, .windSpeed {
    font-size: 1.5rem;
    margin-left: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    font-size: 1.5rem;
}