{{!-- SIGN IN PAGE --}}


<section class="section grey darken-4 pageHero">
    <div class="container">
        <h1 class="grey-text text-lighten-2 center-align logoFont">Sign In</h1>
    </div>
</section>

<section class="section container">
    <div class="row">
        <form class="col s12 m12 l8 offset-l2" action="/api/users/signin" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="white-text validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="white-text validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row grey darken-3 valign-wrapper hoverable">
                <div class="col s6">
                    <p>Not a member? <a href="/signup" class="teal-text text-accent-4">Sign Up Now!</a></p>
                </div>
                <div class="col s6 right-align">
                    <button type="submit" class="waves-effect waves-light btn teal" id="signinBtn">
                        <i class="material-icons right">login</i>Sign In
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>