{{!-- THE STATUS ERROR PAGE --}}


<section class="section grey darken-4 pageHero">
    <div class="container">
        <h1 class="grey-text text-lighten-2 center-align">{{errorCode}}</h1>
    </div>
</section>

<section class="section container center-align flow-text">
    <p>{{message}}</p>
    <p>Now just quietly find your way back to the <a href="/">home page</a> and we'll pretend this never happened.</p>
</section>